aiohttp==3.6.2
astroid==2.4.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
cmake==3.17.2
discord==1.0.1
discord.py==1.6.0
idna==2.10
isort==4.3.21
jedi==0.17.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.6
parso==0.7.0
pip==20.1.1
pyjnius==1.2.1
pylint==2.5.2
PySDL2==0.9.7
Pillow==8.1.2
setuptools==47.1.1
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wheel==0.34.2
wrapt==1.12.1
yarl==1.5.1